body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    margin-bottom: 40px;
}
h1 strong{
    color: #026fff;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ol {
    display: flex;
    height: inherit;
  }

.header ol li { 
    height: inherit;
  }

figure {
    margin: 0;
  }

.menu { 
    height: inherit;
  }
.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;

}
.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.hero{
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-image{
    object-fit: cover;
  }
.portfolio{
    background: #FAFAFA;
}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}
.project-description{
    font-size: 20px;
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.portfolio {
    bottom: #fafafa;
    padding: 20px;
}
.experience-list{
    display: flex;
    flex-wrap: wrap;
}
.experience{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}
.experience img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.experience-detail{
    margin: 20px 40px;
    background-color: white;
    margin-top: -30px;
    position: relative;
    padding: 20px;
    text-align: center;
}
.experience-description{
    text-align: left;
}
.experience-url{
    color: #026fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;


}
.experience-list-title{
    margin-left: 20px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 5px;
}
.social-link.facebook{
    background-image: url(https://i.postimg.cc/Y04GXKgK/facebook.png);
}
.social-link.twitter{
    background-image: url(https://i.postimg.cc/fTYzKTFj/twitter.png);
}
.social-link.instagram{
    background-image: url(https://i.postimg.cc/Dz8P9D16/instagram.png);
}
.social-link.github{
    background-image: url(https://i.postimg.cc/nVjcX1GW/github.pngg);
}
.form-email input{
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url(https://i.postimg.cc/NG9mQm9s/envelope.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;

}
.form-email button{
    display: block;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border-color: white ;
    border-radius: 5px;
    padding: 10px 15;
    width: 100px;
    font-family: 'Oswald', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}